* {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
nav {
    position: sticky;
    top: 0;
    background: teal;
}

nav ul {
    display: flex;
    gap: 2em;
    padding: 0;
}

nav ul li {
    padding: 1em;
    list-style: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

nav, section, footer {
    padding-inline: 2em;
}

section {
    scroll-margin-top: 4em;
    min-height: 100vh;
}
